<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.climbtheworld.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <!-- https://www.mapbox.com/api-documentation/#maps -->
        <meta-data
            android:name="MAPQUEST_MAPID"
            android:value="mapbox.streets-satellite" />
        <meta-data
            android:name="MAPQUEST_ACCESS_TOKEN"
            android:value="**" />

        <!-- OSM keys -->
        <meta-data
            android:name="OSM_0_6_API.KEY"
            android:value="**" />
        <meta-data
            android:name="OSM_0_6_API.SECRET"
            android:value="**" />

        <!-- OSM dev keys -->
        <meta-data
            android:name="OSM_SANDBOX_0_6_API.KEY"
            android:value="**" />
        <meta-data
            android:name="OSM_SANDBOX_0_6_API.SECRET"
            android:value="**" />

        <activity
            android:name="com.climbtheworld.app.activitys.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.climbtheworld.app.activitys.EditTopoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edit_route"
                    android:scheme="climbtheworld" />
            </intent-filter>
        </activity>
        <activity android:name="com.climbtheworld.app.activitys.ViewMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="map_view"
                    android:scheme="climbtheworld" />
            </intent-filter>
        </activity>
        <activity android:name="com.climbtheworld.app.activitys.ToolsActivity" />
        <activity android:name="com.climbtheworld.app.activitys.SettingsActivity" />
        <activity android:name="com.climbtheworld.app.activitys.LicenseActivity" />
        <activity
            android:name="com.climbtheworld.app.activitys.NodesDataManagerActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="data_manager"
                    android:scheme="climbtheworld" />
            </intent-filter>
        </activity>
        <activity android:name="com.climbtheworld.app.activitys.SupportMeActivity" />
        <activity android:name="com.climbtheworld.app.activitys.OAuthActivity" />
        <activity android:name="com.climbtheworld.app.activitys.ViewTopoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.climbtheworld.app.activitys.ViewTopoArCoreActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>