<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.climbtheworld.app">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.UnitConverterGradesAdvancedActivity"></activity>
        <activity android:name=".activities.UnitsConverterActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" /> <!-- https://www.mapbox.com/api-documentation/#maps -->
        <meta-data
            android:name="MAPQUEST_MAPID"
            android:value="mapbox.streets-satellite" />
        <meta-data
            android:name="MAPQUEST_ACCESS_TOKEN"
            android:value="**" /> <!-- OSM keys -->
        <meta-data
            android:name="OSM_0_6_API.KEY"
            android:value="**" />
        <meta-data
            android:name="OSM_0_6_API.SECRET"
            android:value="**" /> <!-- OSM dev keys -->
        <meta-data
            android:name="OSM_SANDBOX_0_6_API.KEY"
            android:value="**" />
        <meta-data
            android:name="OSM_SANDBOX_0_6_API.SECRET"
            android:value="**" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="map_view"
                    android:scheme="climbtheworld" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditNodeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.ViewMapActivity" />
        <activity android:name=".activities.ToolsActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.LicenseActivity" />
        <activity
            android:name=".activities.NodesDataManagerActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.SupportMeActivity" />
        <activity android:name=".activities.OAuthActivity" />
        <activity
            android:name=".activities.AugmentedRealityActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.AugmentedRealityArCoreActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.IntercomActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FirstRunActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.EditNodeAdvancedActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ask.AskActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".ask.Ask$Receiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.vistrav.ask.PERMISSION_RESULT_INTENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>